#for {
    grid-area: fore;
}

#right {
    grid-area: right;
}

#stop {
    grid-area: stop;
}

#left {
    grid-area: left;
}

#back {
    grid-area: back;
}

body {
    display: grid;
    width: 100px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". fore ."
                         "left stop right"
                         ". back ."

}
